.app__aboutMe {
  width: 100%;
  height: 100vh;
  display: flex;
  /* background-color: rebeccapurple; */
}
.app__aboutMe-left {
  flex: 1;
  height: 100%;
  display: flex;
  align-items: center;
  /* background-color: aquamarine; */
}
.app__aboutMe-left-img {
  width: 90%;
  height: 50%;
}
.app__aboutMe-right {
  flex: 1;
  height: 100%;
  /* background-color: rgb(29, 36, 33); */
  display: flex;
  align-items: center;
  justify-content: center;
}

.app__aboutMe-right p {
  font-size: 20px;
  font-family: var(--font-base);
  line-height: 1.5;
  letter-spacing: 1.5px;
  color: var(--color-white);
}

@media screen and (max-width: 1000px) {
  .app__aboutMe {
    /* width: 100%; */
    height: 80vh;
  }
  .app__aboutMe-right p {
    font-size: 17px;
  }
}

@media screen and (max-width: 650px) {
  .app__aboutMe {
    height: auto;
    gap: 0.2rem;
    flex-direction: column;
  }
  .app__aboutMe-left-img {
    width: 90%;
    height: 100%;
  }
  .app__aboutMe-right p {
    font-size: 15px;
    padding: 1rem 0;
  }
}
