.app__recentProjects {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  position: relative;
  /* background-color: antiquewhite; */
}

.app__recentProjects-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  /* background-color: red; */
  margin-top: 3rem;
}
/* @media screen and (max-width: 768px) {
  .app__recentProjects-container {
    justify-content: center;
  }
} */
.link_see-more {
  color: var(--color-white);
  font-size: 1.5rem;
  margin-top: 2rem;
  cursor: pointer;
}
