.app__recentProjects {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  position: relative;
  /* background-color: antiquewhite; */
}

.app__recentProjects-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  /* background-color: red; */
  margin-top: 3rem;
}
