.app__homeSection-container {
  width: 100%;
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  /* background-color: red; */
  padding: 2.5rem 4rem;
  gap: 4rem;
}
.app__homeSection-container h2 {
  font-size: 6rem;
}
.container {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  overflow: hidden;
  padding-top: 5.5rem;
}
.content-slider {
  flex: 1;
  position: relative;
  width: 100vw;
  border-bottom: 1px solid #000;
}
.first {
  border-top: 1px solid #000;
}
.content-slider p {
  font-size: 4.6rem;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  font-weight: 600;
  font-family: var(--font-base);
  color: #000;
  padding-left: 4rem;
}

.slider_container {
  width: auto;
  height: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  overflow: hidden;
  background-color: #a59786;
  /* visibility: hidden; */
  transition: 0.3s ease;
}
.wrapper {
  display: flex;
  align-items: center;
  animation: moving 8s linear infinite;
  height: 100%;
}
@keyframes moving {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
