.app__header {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4rem;
}
.app__header-logo {
  width: auto;
  height: 100%;
}
.app__header-logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.app__header-social_media {
  display: flex;
  align-items: center;
  gap: 1rem;
}
