.app__footer {
  width: 100%;
  height: 65vh;
  /* background-color: aliceblue; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* color: var(--color-white); */
}
/* .footer-color */
.app__footer-box_titles {
  display: flex;
  justify-content: space-between;
}
.app__footer-box_titles h3 {
  font-size: 2rem;
  font-family: var(--font-base);
  font-weight: 100;
}
.app__footer-box-email {
  position: relative;
  display: flex;
  /* gap: 4rem; */
  width: 100%;
}
.footer-arrow {
  position: absolute;
  top: 0%;
  left: 0;
  transform: rotate(35deg);
  font-size: 4rem;
}
.footer-email {
  font-size: 3rem;
  font-family: var(--font-base);
  letter-spacing: 4px;
  line-height: 1.4;
  padding-left: 10rem;
}
.app__footer-box-copyright {
  display: flex;
  justify-content: space-between;
}
.app__footer-box-copyright p {
  font-size: 15px;
  font-family: var(--font-base);
  font-weight: 100;
  letter-spacing: 1px;
  opacity: 0.67;
}

.circle {
  position: relative;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  background-color: aqua;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo {
  position: absolute;
  width: 150px;
  height: 150px;
  background-color: red;
  border-radius: 50%;
  filter: brightness(1.5) contrast(1.5);
}
.text {
  position: absolute;
  width: 100%;
  height: 100%;
  animation: rotateText 10s linear infinite;
}
.text p {
  position: absolute;
  left: 50%;
  font-size: 1.2rem;
  transform-origin: 0 100px;
}
@keyframes rotateText {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@media screen and (max-width: 1000px) {
  .app__footer-box_titles h3 {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 750px) {
  .app__footer-box_titles h3 {
    font-size: 1rem;
  }
  .footer-arrow {
    font-size: 3rem;
  }
  .footer-email {
    font-size: 2rem;
    padding-left: 5rem;
  }
}
@media screen and (max-width: 550px) {
  .app__footer-box_titles {
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
  }
  .app__footer-box_titles h3 {
    font-size: 1rem;
  }
  .footer-arrow {
    font-size: 2rem;
  }
  .footer-email {
    font-size: 1.5rem;
    padding-left: 3rem;
  }
  .app__footer-box-copyright {
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
  }
  .app__footer-box-copyright p {
    font-size: 14px;
  }
}
