.app__singleProject {
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  border-radius: 10px;
  gap: 2rem;
  background-color: var(--color-white);
  padding: 0.25rem;
}
.app__singleProject-left {
  flex: 3;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 0.75rem;
  gap: 1rem;
  /* background-color: rgb(101, 226, 43); */
}
.app__singleProject-left h2 {
  font-size: 2.3rem;
  font-family: var(--font-base);
  font-weight: 100;
  color: var(--color-black);
  text-transform: capitalize;
}
.app__singleProject-left p {
  font-size: 18px;
  font-weight: 100;
  font-family: var(--font-base);
  color: var(--color-black);
  line-height: 1.2;
  /* opacity: 0.7; */
}
.app__singleProject-right {
  flex: 2;
  height: 100%;
  border-radius: 10px;
  background-color: blueviolet;
  padding: 0.5rem;
}
@media screen and (min-width: 2000px) {
  .app__singleProject-left h2 {
    font-size: 2rem;
  }
  .app__singleProject-left p {
    font-size: 22px;
  }
}
@media screen and (max-width: 1200px) {
  .app__singleProject-left h2 {
    font-size: 2rem;
  }
  .app__singleProject-left p {
    font-size: 18px;
  }
}
/* @media screen and (max-width: 1000px) {
  .app__singleProject {
    width: 100%;
    height: auto;
  }

  
  .app__singleProject-right {
    flex: 2;

    height: 100%;
  }
} */
@media screen and (max-width: 650px) {
  .app__singleProject {
    width: 100%;
    height: 400px;
    flex-direction: column;
    gap: 0.5rem;
  }

  .app__singleProject-left {
    flex: 0;
    /* height: auto; */
  }
  .app__singleProject-right {
    flex: 1;
    width: 100%;
    /* height: 400px; */
  }
}
