.app__singleProject {
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  border-radius: 10px;
  gap: 2rem;
  /* background-color: var(--color-white); */
  padding: 0.25rem;
  /* background-color: yellow; */
}
.sp-new-bg {
  background-color: var(--color-black);
  transition: background 0.3s ease;
}
.sp-initial-bg {
  background-color: var(--color-white);
  transition: background 0.3s ease;
}

.app__singleProject-left {
  flex: 3;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 0.75rem;
  gap: 1rem;
  /* background-color: rgb(101, 226, 43); */
}
.app__singleProject-left h2 {
  font-size: 2.3rem;
  font-family: var(--font-base);
  font-weight: 100;
  /* color: var(--color-black); */
  text-transform: capitalize;
}

.app__singleProject-left p {
  font-size: 18px;
  font-weight: 100;
  font-family: var(--font-base);
  /* color: var(--color-black); */
  line-height: 1.2;
  /* opacity: 0.7; */
}

.text-initial-color {
  color: var(--color-black);
  transition: color 0.5s ease;
}
.text-new-color {
  color: var(--color-white);
  transition: color 0.5s ease;
}
.text-new-color2 {
  color: var(--color-white);
  transition: color 0.5s ease;
}
.app__singleProject-right {
  position: relative;
  flex: 2;
  height: 100%;
  border-radius: 10px;
  background-color: #8a2be2;
  background-image: url("../../assets/photo.png");
  background-position: center center;
  background-size: cover;
  padding: 0.5rem;
}
.app__singleProject-right video {
  width: 100%;
  height: 100%;
  /* object-fit: cover; */
}
.video-container-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

@media screen and (min-width: 2000px) {
  .app__singleProject-left h2 {
    font-size: 2rem;
  }
  .app__singleProject-left p {
    font-size: 22px;
  }
}
@media screen and (max-width: 1200px) {
  .app__singleProject-left h2 {
    font-size: 2rem;
  }
  .app__singleProject-left p {
    font-size: 18px;
  }
}
/* @media screen and (max-width: 1000px) {
  .app__singleProject {
    width: 100%;
    height: auto;
  }

  
  .app__singleProject-right {
    flex: 2;

    height: 100%;
  }
} */
@media screen and (max-width: 650px) {
  .app__singleProject {
    width: 100%;
    height: 400px;
    flex-direction: column;
    gap: 0.8rem;
  }

  .app__singleProject-left {
    flex: 0;
    /* height: auto; */
  }
  .app__singleProject-right {
    flex: 1;
    width: 100%;
    height: 200px;
  }
}

.scroll-animation-project {
  opacity: 0;
  transform: translateY(100px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.scroll-animation-project.animated {
  opacity: 1;
  transform: translateY(0);
}
