@import url("https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@300;400;500;600;700&family=Open+Sans:wght@300;400;500;600;700&display=swap");
/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
@font-face {
  font-family: "CustomFontFamily";
  src: url("./fonts/Redwing-Medium.otf") format("truetype");
  /* Add other font formats here if necessary */
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "CustomFontFamily", sans-serif;
  /* Use the font family where necessary */
}

:root {
  --font-base: "Cormorant Upright", serif;
  --font-alt: "Open Sans", sans-serif;
  --color-black: #0c0c0c;
  --color-grey-one: #e7e4df;
  --color-white: #ffffff;
  --color-grey: #aaaaaa;

  --color-golden: #dcca87;
  --color-gray: #545454;
  --color-crimson: #f5efdb;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

a {
  color: unset;
  text-decoration: none;
}
