@import url("https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@300;400;500;600;700&family=Open+Sans:wght@300;400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "CustomFontFamily";
  src: url("./fonts/Redwing-Medium.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "secondFontFamily";
  src: url("./fonts/Extenda/Extenda-40-Hecto-trial.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'tertiaryFontFamily';
  src: url('https://cdn.prod.website-files.com/673af51dea86ab95d124c3ee/673b0f5784f7060c0ac05534_PPNeueCorp-TightUltrabold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  --font-secondary: "secondFontFamily", serif;
  --font-base: "CustomFontFamily", serif;
  --font-alt: "Open Sans", sans-serif;
  --font-title: "Cormorant Upright", serif;
  /* --color-black: #0c0c0c; */
  --color-black: #020617;
  --color-grey-one: #e7e4df;
  --color-white: #ffffff;
  --color-grey: #aaaaaa;
  --color-gray: #545454;
  --color-crimson: #f5efdb;
  --color-crimson: #f5efdb;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}
body {
  scroll-behavior: smooth !important;
}

a {
  color: unset;
  text-decoration: none;
}

.slide-top {
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
  }
}
